* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #131212;
    color: #00ff99;
    font-family: monospace;
    font-size: 10rem;
    font-weight: 900;
    height: 100vh;
    gap: 2rem;
    flex-direction: column;
}

.date {
    font-size: 3rem;
}
